<% include ../partials/header.ejs %>

<!-- menu -->
<section id="menu-list" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center marb-35">
        <h1 class="header-h">Menu</h1>
        <p class="header-p">Escolha uma das pizzas da casa.</p>
      </div><!--col-md-12 text-center marb-35" -->

      
      <!-- <%= pizzas[0].name %> -->
      <% pizzas.forEach( pizza => { %>
      <div id="menu-wrapper">

        <div class="breakfast menu-restaurant">
          <span class="clearfix">
            <!-- <button id="-button" class="btn btn-primary minus menu-button">-</button> -->
            <button class="btn btn-primary plus menu-button plus_button" data-pizza='<%- JSON.stringify(pizza) %>'</button>+</button>
            <h4 class="menu-title" data-meal-img="assets/img/restaurant/rib.jpg"><%= pizza.name %></h4>
            <span style="left: 216px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">R$ <%= pizza.ingredients.reduce((total, atual) => total + atual.price, 0).toFixed(2)%></span>
          </span>

          <% pizza.ingredients.forEach( ingredient => { %>
            <span class="menu-subtitle"><%= ingredient.name %> , </span>
          <% }); %>
        </div><!--breakfast -->

      </div> <!--menu-wrapper -->
      <% }); %>
    </div><!--row -->
  
    <script>
      
      $('.plus_button').on('click', (e) => {
        let pizza = $(e.target).data('pizza')
        console.log(pizza);
        
        let a = {
          pizza: pizza
        }
        
        $.ajax({
            type: 'POST',
            url: '/order/',
            data: JSON.stringify(a), // or JSON.stringify ({name: 'jonas'}),
            success: function(data) { window.location.href = '/orders' },
            contentType: "application/json",
            dataType: 'json'
        });
      })
      
    </script>

  </div> <!--container -->

</section>
<!--/ menu -->